.Home {
    height: 100vh;
    width: 100vw;

    &__Header {
        margin-bottom: 10px;
        background-color: #fff;
    }
    &__Sider.ant-layout-sider {
        margin-right: 10px;
        background-color: #fff;
    }
    &__Content {
        background-color: #fff;
        padding: 20px;
    }
}