.Home {
  height: 100vh;
  width: 100vw; }
  .Home__Header {
    margin-bottom: 10px;
    background-color: #fff; }
  .Home__Sider.ant-layout-sider {
    margin-right: 10px;
    background-color: #fff; }
  .Home__Content {
    background-color: #fff;
    padding: 20px; }
