.Banner {
    &__img {
        width: 200px;
    }
    &__status {
        font-size: 20px;

        &--check {
            color: green;
        }
        &--close {
            color: red;
        }
    }
    &__Table {
        .Banner__Column {
            text-align: center;
        }
    }
}